<!--フラッシュメッセージ-->
<p class="notice">
  <%= flash[:created] %>
  <%= flash[:updated] %>
</p>


<!--投稿詳細-->
<p>
  <strong>Title: </strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body: </strong>
  <%= @book.body %>
</p>


<!--リンク-->
<%= link_to "Edit", edit_book_path(@book.id) %>
 |
<%= link_to "Back", books_path %>
